@media screen and (min-width: 80rem){
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 10px;
    } 
}

body{
    background-color: powderblue !important;
}

.colorBox{
    position: absolute;
    z-index: 2;
    background: gold;
    height: 40%;
    width: 80%;
    top: -1em;
    left: 1em;
}

.colorBoxTwo{
    position: relative;
    z-index: 1;
    background: orange;
    height: 8em;
    margin-top: 2em;
}
